---
import AboutButton from './AboutButton.tsx';
---

<header class="mb-4 px-8">
    <div class="flex items-center justify-between">
        <h1 class="text-4xl leading-tight text-blue-600">
            <span class="font-semibold">TripMD</span> Studio
        </h1>
        <AboutButton client:load />
    </div>
</header>


